<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Product details</title>
</head>
<body>
<div th:if="${product ne null}">
    <div>
        <b>Name:</b>
        <span th:text="${product.name}"></span>
    </div>
    <div>
        <b>Category:</b>
        <span th:text="${product.category}"></span>
    </div>
    <div>
        <b>Description:</b>
        <span th:text="${product.description}"></span>
    </div>
    <div>
        <b>Quantity</b>
        <span th:text="${product.quantity}"></span>
    </div>
    <div>
        <b>Price:</b>
        <span th:text="${product.price}"></span>
    </div>
    <div>
        <a th:href="@{/products/{id}/update(id=${product.id})}">Update product</a>
    </div>
</div>
<div th:if="${product eq null}">Product does not exist</div>
</body>
</html>