<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/fragments :: head('Login Page')}"></head>
<body style="height: 95vh" class="d-flex align-items-center">
<div class="container">
  <div style="max-width: 350px" class="w-50 mx-auto">
    <div th:if="${param.error ne null}"
         class="alert alert-danger"
         role="alert">
      Please check you credentials and try again!
    </div>
    <form method="post" th:action="@{/login}">
      <div class="mb-3">
        <label for="username" class="form-label">Username</label>
        <input type="text" class="form-control" id="username" name="customUsername">
      </div>
      <div class="mb-3">
        <label for="password" class="form-label">Password</label>
        <input type="password" class="form-control" id="password" name="customPassword">
      </div>
      <div class="d-flex justify-content-end">
        <button type="submit"
                class="btn btn-primary">Login</button>
      </div>
    </form>
  </div>
</div>
<footer th:replace="~{fragments/fragments :: footer}"></footer>
</body>
</html>