<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      th:with="isProductExist=${product.id ne null}">
<head th:replace="fragments/fragments :: head(${isProductExist ? 'Upadte product' : 'Create product'})"></head>
<body>
<nav th:replace="fragments/fragments :: navigation"></nav>
<div class="container">
  <h3 th:text="${isProductExist ? 'Update product:' : 'Create product:'}"></h3>
  <form method="post" th:object="${product}" th:action="@{/products/create}">
    <div th:replace="fragments/fragments :: inputWithError('name', 'Product Name:', ${product.name ne null}, 'text')"></div>
    <div th:replace="fragments/fragments :: textAreaWithError('description', 'Product Description:', ${product.description ne null})"></div>
    <div th:replace="fragments/fragments :: inputWithError('category', 'Product Category:', ${product.category ne null}, 'text')"></div>
    <div th:replace="fragments/fragments :: inputWithError('quantity', 'Product Quantity:', ${product.quantity ne null}, 'number')"></div>
    <div th:replace="fragments/fragments :: inputWithError('price', 'Product Price:', ${product.price ne null}, 'number')"></div>
    <button type="submit"
            class="btn btn-primary"
            th:text="${isProductExist ? 'Update' : 'Create'}"></button>
  </form>
  <div th:if="${message}" th:text="${message}"></div>
</div>
<footer th:replace="fragments/fragments :: footer"></footer>
</body>
</html>